@font-face {
    font-family: 'Reloj';
    src: url('fuentes/digital-7.ttf') format('truetype');
}  

body {
    background-color: #fafafa;
    /* filter: brightness(60%); */
    color:white;
}

#tamPantalla
{
    position: relative;
    top: 5em;
    background-color: rgba(33, 48, 116, 0.781);
    /* background-color: #2e2e2e; */
    padding: 12px;
}

#horaReloj {
    text-align: center;
    font-size: 2.8em;
    border: none;
    font-family: 'Reloj';
}

h2 {
    margin-left: 15px;
}

#fechaReloj {
    /* background-color: #cecece; */
    background-color: black;
    color: white;
    text-align: center;
    font-size: 10em;
    border: none;
    font-family: 'Reloj';
}

.iconos {
    font-size:2.5em;
}

.iconoBotones {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    color: white;
}

.iconoBotones:focus {
    outline: 2.5px;
    outline-style: dashed;
    outline-color: rgba(38, 71, 218, 0.493);
}

.iconoBotonesOn {
    background-color: rgba(15, 15, 15, 0.541);
    border: none;
    border-radius: 10px;
    color: white;
    width: 60px;
    height: 60px;
}
.iconoBotonesOff {
    background-color: rgba(15, 15, 15, 0);
    border: none;
    border-radius: 10px;
    color: white;
    width: 60px;
    height: 60px;
}

.iconoBotonesOn:focus {
    outline: 2.5px;
    outline-style: dashed;
    outline-color: rgba(38, 71, 218, 0.493);
}

.iconoBotonesOff:focus {
    outline: 2.5px;
    outline-style: dashed;
    outline-color: rgba(38, 71, 218, 0.493);
}

.botonesDerecha {
    text-align: right;
}

.slidecontainer {
    margin-top:15px;
    height: 40%;
}

#refrigerador {
    height: 300px;
    width: 95%;
    margin-top: 20px;
    background-color: #6291e9;
    /* background-color: #575757; */
    border: none;
    border-radius: 10px;  
    text-align: center; 
}

#congelador {
    height: 300px;
    width: 95%;
    margin-top: 13px;
    margin-bottom: 14px;
    background-color: #6291e9;
    /* background-color: #575757; */
    border: none;
    border-radius: 10px;
    text-align: center; 
}



#settings {
    margin-top: 13px ;
    height: 615px;
    margin-bottom: 14px;
}


@media(max-width: 767px) {
    #refrigerador {
        margin-top: 20px;
        border: none;
    }

    #congelador {
        margin-top: 13px;
        margin-bottom: 14px;
        border: none;
    }

    #settings {
        height: 400px;
    }

    #horaReloj {
        font-size: 2em;
    }
    .iconoBotones {
        font-size:10px;
    }
}



/*Slidebar*/ 
.slider {
    -webkit-appearance: none;
    width: 80%;
    
    height: 15px;
    border-radius: 5px;  
    background: #ffffff;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    align-items: center;
    border: 1px solid #B2BEFA;
   
    margin-bottom: 5em;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background: rgb(17, 16, 49);
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: rgb(17, 16, 49);
    cursor: pointer;
  }

.slidecontainer{
    margin-top: 1em;
}


