@font-face {
    font-family: 'Reloj';
    src: url('fuentes/digital-7.ttf') format('truetype');
}  

body {
    background-color: #fafafa;
    /* filter: brightness(60%); */
    color:white;
}



#tamPantalla
{
    position: relative;
    top: 5em;
    background-color: #6291e9;
    padding: 12px;
}

#horaReloj {
    text-align: center;
    font-size: 2.8em;
    border: none;
    font-family: 'Reloj';
}

h2 {
    margin-left: 15px;
}

#fechaReloj {
    /* background-color: #cecece; */
    background-color: black;
    color: white;
    text-align: center;
    font-size: 10em;
    border: none;
    font-family: 'Reloj';
}

.iconos {
    font-size:2.5em;
}


.iconoBotones {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    color: white;
}

.iconoBotones:focus {
    outline: 2.5px;
    outline-style: dashed;
    outline-color: rgba(38, 71, 218, 0.493);
}

.botonesDerecha {
    text-align: right;
}

#refrigerador {
    height: 300px;
    width: 95%;
    margin-top: 20px;
    background-color: rgba(136, 251, 255, 0.781);
    border: none;
    border-radius: 10px;
}

#refrigerador:focus {
    outline: 0;
    background-color: rgba(38, 71, 218, 0.493);
}

#congelador {
    height: 300px;
    width: 95%;
    margin-top: 13px;
    margin-bottom: 14px;
    background-color: rgba(136, 251, 255, 0.781);
    border: none;
    border-radius: 10px;
}
#congelador:focus {
    outline: 0;
    background-color: rgba(38, 71, 218, 0.493);
}

#settings {
    margin-top: 13px ;
    height: 615px;
    margin-bottom: 14px;
}


@media(max-width: 767px) {
    #refrigerador {
        margin-top: 20px;
        background-color: rgba(136, 251, 255, 0.781);
        border: none;
    }

    #congelador {
        margin-top: 13px;
        margin-bottom: 14px;
        background-color: rgba(136, 251, 255, 0.781);
        border: none;
    }

    #settings {
        height: 400px;
    }

    #horaReloj {
        font-size: 2em;
    }
    .iconoBotones {
        font-size:10px;
    }
}