@font-face {
    font-family: 'Reloj';
    src: url('fuentes/digital-7.ttf') format('truetype');
}  

body {
    background-color: #fafafa;
}

#pantalla {
    background-color: #cecece;
    height: 40em;
    margin-top: 100px;
}

#horaReloj {
    background-color: #cecece;
    text-align: center;
    font-size: 10em;
    border: none;
    font-family: 'Reloj';
}

#fechaReloj {
    background-color: #cecece;
    text-align: center;
    font-size: 10em;
    border: none;
    font-family: 'Reloj';
}