@font-face {
    font-family: 'Reloj';
    src: url('fuentes/digital-7.ttf') format('truetype');
}  

body {
    background-color: #fafafa;
}

#pantalla {
    /* background-color: #cecece; */
    background-color: black;
    /* height: 60em; */
    margin-top: 100px;
}

#tamPantalla
{
    height: 20em;
}
#horaReloj {
    color: white;
    /* background-color: #cecece; */
    background-color: black;
    text-align: center;
    font-size: 10em;
    border: none;
    font-family: 'Reloj';
}

#fechaReloj {
    /* background-color: #cecece; */
    background-color: black;
    color: white;
    text-align: center;
    font-size: 10em;
    border: none;
    font-family: 'Reloj';
}

.divReloj {
    background-color: black;
}

.botonesInicio {
    background-color: rgba(0, 0, 0, 0);
    border: none;
}
.botonesInicio:focus {
    outline-color: rgb(184, 184, 184);
}