@font-face {
    font-family: 'Reloj';
    src: url('fuentes/digital-7.ttf') format('truetype');
}  

body {
    background-color: #fafafa;
}



#tamPantalla
{
    position: relative;
    top: 5em;
    background-color: #83a7e9;
    padding: 12px;
}

#horaReloj {
    text-align: center;
    font-size: 2em;
    border: none;
    font-family: 'Reloj';
}

#fechaReloj {
    /* background-color: #cecece; */
    background-color: black;
    color: white;
    text-align: center;
    font-size: 10em;
    border: none;
    font-family: 'Reloj';
}

.iconoBotones {
    background-color: rgba(0, 0, 0, 0);
    border: none;
}

.iconoBotones:focus {
    outline: 1px;
    outline-style: dashed;
    outline-color: rgba(38, 71, 218, 0.493);
}

