body,
input {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
}

#simulador { width: 900px; margin: auto; }

#simulador.desconectado { opacity: 0.25 }

#frigorifico {
    width: 200px;
}

#frigorifico>* {
    position: relative;
    width: 100%;
}

#frigorifico * {
    box-sizing: border-box;
}

#refrigerador {
    height: 400px;
}

#congelador {
    height: 200px;
}

#frigorifico > * > * {
    position: absolute;
    left: 0;
    top: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

.fondo {
    border: 8px solid #444;
}

.puerta {
    background-color: rgba(200,200,256,0.5);
    border: 8px solid #888;
}

.puerta.abierta {
    transform: skewY(20deg) translateX(25px) translateY(-36px) scaleX(0.75);
}

.luz.encendida {
    background: radial-gradient(circle, rgb(240, 193, 4) 0%, rgba(240, 193, 4, 0) 75%); 
}

#pantalla {
    position: absolute;
    width: 40%;
    height: 100%;
    top: 0;
    left: 30%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 0 30%;
}

#presencia {
    position: absolute;
    top: 5%;
    left: calc(50% - 4px);
    width: 8px;
    height: 8px;
    background-color: #008;
    border-radius: 4px;
}

#lector {
    position: absolute;
    bottom: 40%;
    left: calc(50% - 9px);
    width: 18px;
    height: 18px;
    background-color: #400;
    border-radius: 4px;
}

.tirador {
    position: absolute;
    width: 6px;
    height: 100px;
    left: 16px;
    top: calc(50% - 50px);
    background-color: #666;
}

#pantalla.apagada { background-image: url("img/pantalla-apagada.png"); }
#pantalla.bn { background-image: url("img/pantalla-bn.png"); }
#pantalla.color { background-image: url("img/pantalla-color.png"); }

#temp-exterior { width: 64px; height: 96px; position: relative}
#temp-exterior > * { position: absolute; text-align: center;}
#temp-exterior .valor { top: 16px; left: 0; width: 64px; height: 32px; border-radius: 32px; background-color:#888; font-size: 32px; padding: 10px 0 22px 0;}
#temp-exterior .mas { top: 0; left: 16px; width: 32px; height: 16; background-color: #aaa; border-radius: 16px; padding: 6px 0 10px 0; font-size: 16px; }
#temp-exterior .menos { bottom: 0; left: 16px; width: 32px; height: 16px; background-color: #aaa; border-radius: 16px; padding: 6px 0 10px 0; font-size: 16px; }

#usuario { width: 100px; height: 300px; position: relative; }
#usuario > * { position: absolute; left: 0; box-sizing: border-box; }
#usuario.presencia > * { background-color: #060; }
#usuario.presencia > #cuerpo { border-color: black; }
#cabeza { top: 0; width: 100px; height: 100px; border-radius: 50px; background-color: #ccc; border: 8px solid #fff; }
#cuerpo { top: 80px; width: 100px; height: 150px; border-radius: 50px 50px 0 0; background-color: #ccc; border: 8px solid #ccc; }

#productos > * {
	width: 100px;
	background-size: 75%;
	background-repeat: no-repeat;
	background-position: center 30%;
	border-radius: 4px;
	padding: 100px 4px 4px 4px;
	margin: 4px;
	text-align: center;
	background-color: #aaa;
}

#alarma { width: 100px; height:100px; background-position: center center; background-size: 75%; background-color: #aaa; border-radius: 4px; background-image: url("img/alarma.png"); background-repeat: no-repeat; border: 8px solid transparent; box-sizing: border-box; }
#alarma.encendida { background-color: #faa; border-color: #800; }

#izq > * { margin: 32px 0; }

#leche { background-image: url("img/leche.png"); }
#huevos { background-image: url("img/huevo.png"); }
#carne { background-image: url("img/carne.png"); }
#pescado { background-image: url("img/pescado.png"); }
#codigo-barras { background-image: url("img/codigobarras.png"); }

.row, .col { display: flex; justify-content: space-between; align-items: center; align-content: center; }
.col { flex-direction: column; }
.row { flex-direction: row; }
.col > *, .row > * { flex: 1 1 1; }
.pdd { padding: 8px; }

table { color: #000; font-family: 'Courier New', Courier, monospace; font-size: 12px; }
th { background-color:  #888; padding: 8px; }
td { background-color: #ccc; padding: 8px; }

label { display: block;}
